@font-face {
  font-family: "SCProRegular"; src: url("/fonts/SourceCodePro-Regular.ttf");
  font-family: "SCProBold"; src: url("/fonts/SourceCodePro-Black.ttf");
}

ion-icon {
  color: #FFF;
  font-size: 30px;
}

.carouselitem {
  height: 500px;
}

@media screen and (max-width: 600px) {
  .carouselitem {
    height: 200px;
  }
}